/admin.db
/admin.json
/admin.sql
/candidates.db
/candidates.json
/candidates.sql
/logs.db
/logs.json
/logs.sql
/polls.db
/polls.json
/polls.sql
/positions.db
/positions.json
/positions.sql
/test.py
/testing
/voters.json
/voters.sql