/*------------------------------ Static CSS ------------------------------*/
header{
    margin: 0 20%;
}

header h2{
    text-align: center;
}

header hr{
    width: 100%;
}

body{
    font-family: Geneva,sans-serif; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

footer{
    position: relative;
    margin: 0 20%;
    bottom: 0;
}

footer p{
    text-align: center;
    font-size: larger;
}

.content-wrapper{
    width: 0 20%;
    text-align: center;
    min-height: calc(100vh - 77.81px - 71.39px);
}





/*------------------------------ Dynamic CSS ------------------------------*/
.wc{
    /* margin-top: 5%; */
    font-size: xx-large;
    font-weight: bold;
    /* padding-bottom: 1%; */
}
.login{
    /* margin-top: 160px; */
    font-size: xx-large;
    line-height: normal;
    /* padding-bottom: 1%; */
    /* margin-bottom: 10%; */
}
/* .getstart{
    height: 80px;
    width: 200px;
    font-size: larger;
    background-color: black;
    color: aliceblue;
    border: none;
    border-radius: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    transition: opacity .3s;
}
.getstart:hover{
    height: 82px;
    width: 203px;
    opacity: 0.7;
    box-shadow: 3px 3px 10px black;
}
.getstart:active{
    opacity: 0.3;
} */

header .admin_button {
    position: absolute;
    float: left;
}