<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logs</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="../static/css/logs.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a44a2bebd5.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>

<!-- Static Header -->
    <header>
        <h2 class="top">INCOSUF</h2>
        <hr class="line">
    </header>

    <!-- {% for category, message in get_flashed_messages(with_categories=true) %}
        {% if "added" in message or "Successfully" in message or "UPDATED SUCCESSFULLY!" in message%}
            <div class="alert alert-success" role="alert">
                <center>
                    <h4>{{message}}</h4>
                </center>
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                <center><h4>{{message}}</h4></center>
            </div>
        {% endif %}
    {% endfor %} -->


<!-- Static Wrapper -->
<div class="content-wrapper container">
    
    <!-- Dynamic Content -->

        <br>
        <center>
            <div>
                <center>
                    <h3><b>BLOCKCHAIN</b></h3>
                    <br>
                    <a href="{{ url_for('polls') }}">
                        <button type="button" class="btn btn-dark">
                            Go Back to Polls
                        </button>
                    </a>
                    <br>
                    <form action="" method="POST">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                {% if "Voter found!" in message %}
                                    <div class="alert alert-success" role="alert">
                                        <center>
                                            <h4>{{message}}</h4>
                                        </center>
                                    </div>
                                {% else %}
                                    <div class="alert alert-warning" role="alert">
                                        <center>
                                            <h4>{{message}}</h4>
                                        </center>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control" name="voter" placeholder="Search code/name in blockchain" id="fullName">
                            <input type="submit" class="btn btn-secondary" value="Search">
                        </div>
                    </form>
                    <br>
                </center>
            </div>
        </center>
        <br>
        
        {% if logs | length < 1 %}
            <p>
                <h3>Nothing to show here...</h3>
            </p>

        {% else %}

        
            <div class="cover">
                {%for l in logs %}

                    <div class="card">
                        <div class="container">
                            <p>
                                <b>{{l.id}}</b>
                                <br>
                                {{l.log}}
                                <br>
                                <b>Date: </b>{{l.date}}
                                <br>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
</div>

<!-- Static Footer -->
    <footer>
        <hr class="line">
        <p>&#64;2022 by IncoSuf </p>
    </footer>
    

</body>
</html>