<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="../static/css/otp_login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    </head>
<body>

<!-- Static Header -->
    <header>
        <h2 class="top">INCOSUF</h2>
        <hr class="line">
    </header>

    

<!-- Static Wrapper -->
<div class="content-wrapper container d-flex flex-column justify-content-center align-items-center">


        {% for category, message in get_flashed_messages(with_categories=true) %}
            {% if "UPDATED" in message or "SUCCESSFULY" in message%}
                <div class="alert alert-success container" role="alert">
                    <center><h4>{{message}}</h4></center>
                </div>
            {% else %}
                <div class="alert alert-success container" role="alert">
                    <center><h4>{{message}}</h4></center>
                </div>
            {% endif %}
        {% endfor %}


    <!-- Dynamic Content -->

    <form action="/otp_login" method="post">

            <p class="login">OTP Login</p>

                <section class="sec">
                    
                    <div class="d-flex flex-grow-1 align-items-center">
                        <p>Voter's Email Address:</p>
                    </div>

                        <!-- <input type="email"  placeholder="Email" name="email" value="{{email}}" disabled readonly required> -->
                    <div class="d-flex flex-grow-1 justify-content-center align-items-center">
                        <div class="input-group input-group-lg mb-3">
                            <input type="email" class="form-control bg-light fs-6" name="email" placeholder="Voter's Email Address" value="{{email}}" disabled readonly required>
                        </div>
                    </div>

                    <div class="d-flex flex-grow-1 align-items-center">
                        <p>One Time Password:</p>
                    </div>
                    <!-- <input type="text" name="otp" required> -->
                    <div class="d-flex flex-grow-1 justify-content-center align-items-center">
                        <div class="input-group input-group-lg mb-3">
                            <input type="text" class="form-control bg-light fs-6" name="otp" placeholder="OTP" required>
                        </div>
                    </div>

                    <div class="d-flex flex-grow-1 justify-content-center align-items-center">
                        <center>
                            <button type="submit" class="btn btn-dark btn-lg">Login</button>
                            <a href="{{url_for('login')}}">
                                <button type="button" class="btn btn-dark btn-lg">Back</button>
                            </a>
                        </center>
                    </div>
                </section>  
    </form>
</div>



    
<!-- Static Footer -->
    <footer>
        <hr class="line">
        <p>&#64;2022 by IncoSuf </p>
    </footer>

</body>
</html>